{% extends 'base.html' %}

{% block body %}
<h2>{{ the_title }}</h2>
<h3>Homework 2. Flask.</h3>
<p><a href="/requirements/">Task 1. Get the requirements.</a></p>
<p></p>
<p><a href="/generate-users/">Task 2. Display 100 users and their emails.</a></p>
<p></p>
<p><a href="/mean/">Task 3. Mean height and weight from hw.csv.</a></p>
<p></p>
<p><a href="/space/">Task 4. Display cosmonauts in the space at the moment.</a></p>
<p></p>
<p></p>
<h3>Homework 3. SQLite.</h3>
<p><a href="/names/">Task 1. Display the number unique customers.</a></p>
<p></p>
<p><a href="/tracks/">Task 2. Display the number of compositions.</a></p>
<p></p>
<p><a href="/tracks/Disco">Task 3. Disco compositions.</a></p>
<p></p>
<p><a href="/tracks/Club">Task 3. Club compositions.</a></p>
<p></p>
<p><a href="/tracks/NewRock">Task 3. New Rock compositions.</a></p>
<p></p>
<p><a href="/tracks/RnB">Task 3. RnB compositions.</a></p>
<p></p>
<p><a href="/tracks/Bass">Task 3. Bass compositions.</a></p>
<p></p>
<p><a href="/tracks-sec/">Task 4. Compositions and their length.</a></p>
<p></p>

{% endblock %}