{% extends 'base.html' %}

{% block body %}
<h2>{{ the_title }}</h2>
<h3>Homework 2. Flask.</h3>
<p><a href="/requirements/">Task 1. Get the requirements.</a></p>
<p></p>
<p><a href="/generate-users/">Task 2. Display 100 users and their emails.</a></p>
<p></p>
<p><a href="/mean/">Task 3. Mean height and weight from hw.csv.</a></p>
<p></p>
<p><a href="/space/">Task 4. Display cosmonauts in the space at the moment.</a></p>
<p></p>
<p></p>
<h3>Homework 3. SQLite.</h3>
<p><a href="/names/">Task 1. Display the number unique customers.</a></p>
<p></p>



{% endblock %}